version: 2
updates:
  - package-ecosystem: "nuget"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "saturday"
    ignore:
      - dependency-name: "xunit"
        update-types: ["version-update:semver-major"]
      - dependency-name: "xunit.runner.visualstudio"
        update-types: ["version-update:semver-major"]
